<div class="main">
  <div class="block">
    <img class="img" src="assets/logo.png">
    <p>Welcome to Eatsy!</p>
    <div class="container">
      <div class="s">
        <div class="log">
          <a>Log in</a>
        </div>
        <div class="sign">
          <a>Sign up</a>
        </div>
      </div>
    </div>
    <div class="container1">
      <div class="email">
        <a>Email or phone number</a>
      </div>
      <div class="password">
        <a>Password</a>
      </div>
    </div>
    <div class="wrapper-login">
      <div class="login">
        <a>Log in</a>
      </div>
    </div>
    <div class="enter">
      <div class="fb">
        <img class="img" src="assets/fb.png">
      </div>
      <div class="apple">
        <img class="img" src="assets/apple.png">
      </div>
      <div class="google">
        <img class="img" src="assets/google.png">
      </div>
    </div>
    <div class="forgot">
      <a routerLink="/forgot-password">Forgot password?</a>
    </div>
  </div>



<!-- <div class="main">
  <div class="block">
    <img class="img" src="assets/logo.png">
    <p>Welcome to Eatsy!</p>
    <div class="container">
      <div class="s">
        <div class="log">
          <a>Log in</a>
        </div>
        <div class="sign">
          <a>Sign up</a>
        </div>
      </div>
    </div>
    <div class="container1">
      <div class="email">
        <a>Email or phone number</a>
      </div>
      <div class="password">
        <a>Password</a>
      </div>
    </div>
    <div class="wrapper-login">
      <div class="login">
        <a>Log in</a>
      </div>
    </div>
    <div class="enter">
      <div class="fb">
        <img class="img" src="assets/fb.png">
      </div>
      <div class="apple">
        <img class="img" src="assets/apple.png">
      </div>
      <div class="google">
        <img class="img" src="assets/google.png">
      </div>
    </div>
    <div class="forgot">
      <a routerLink="/forgot-password">Forgot password?</a>
    </div>
  </div> -->
<!--  <div class="container">-->
<!--    <h2>User Registration</h2>-->
<!--    <div class="container">-->
<!--      <h2>User Registration</h2>-->
<!--      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">-->
<!--        <div class="form-group">-->
<!--          <label for="firstName">First Name</label>-->
<!--          <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required minlength="2">-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <label for="lastName">Last Name</label>-->
<!--          <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" required>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <label for="email">Email</label>-->
<!--          <input type="email" id="email" name="email" [(ngModel)]="email" required email>-->
<!--        </div>-->

<!--        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
</div>
