.main
{
  display: flex;
  justify-content: center;
  align-items: center;

  .block {
  margin-top: 30px;
  width: 670px;
  height: 645px;
  background-color: #016334;
  border-radius: 6%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    img
    {
      position: relative;
      top: 40px;
      height: 80px;
      width: auto;
    }
    p
    {
      color: white;
      font-size: 40px;
      margin: 50px 0 20px 0;
    }
    .form-container {
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .slide-controls {
      position: relative;
      display: flex;
      background-color: white;
      width: 250px;
      height: 45px;
      border-radius: 30px;
      overflow: hidden;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      border: 4px solid white;
      .slide {
        height: 100%;
        width: 100%;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 48px;
        cursor: pointer;
        z-index: 1;
        transition: all 0.6s ease;
      }
      label.login {
        color: #000;
      }
      .slider-tab {
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        z-index: 0;
        border-radius: 30px;
        background-color: #016334;
        // background: -webkit-linear-gradient(left, #00ab59, #03c567, #09e77b, #12f688);
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        align-items: center;
      }
      input[type="radio"] {
        display: none;
      }
      #login:checked ~ .slider-tab {
        left: 50%;
      }
      #login:checked ~ label.login {
        color: #fff;
        cursor: default;
        user-select: none;
      }
      #login:checked ~ label.signup {
        color: #000;
      }
      #signup:checked ~ label.login {
        color: #000;
      }
      #signup:checked ~ label.signup {
        cursor: default;
        user-select: none;
      }
    }
    .container{
      position: relative;
      top: 20px;
      height: 250px;
      width: 390px;
      .data{
        border-radius: 50px;
        justify-content: start;
        align-items: center;
        .input-data{
          margin: 8px 0 1px 0;
          height: 30px;
          width: 380px;
          background-color: white;
          border: 2px solid white;
          border-radius: 50px;
          justify-content: start;
        }
        .requir{
          color:red;
        }
      }
      .submit{
        top: 30px;
        position: relative;
        height: 30px;
        width:140px;
        color: white;
        border:3px solid white;
        background-color: #016334;
        border-radius: 30px;
        font-size: 20px;
      }
    }
    .enter{
      width: 485px;
      height: 45px;
      position: relative;
      top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .icons
      {
        padding: 2px;
        width: 140px;
        height: 45px;
        background-color: white;
        border-radius: 30px;
        border: 1px solid white;
        .img
        {
          height: 30px;
          width: auto;
          position: relative;
          top: 5px;
        }
      }
      
    }
  }
}

















// .main
// {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   .block
  // {
  //   margin-top: 30px;
  //   width: 670px;
  //   height: 645px;
  //   background-color: #00ab59;
  //   border-radius: 6%;
  //   text-align: center;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: start;
  //   align-items: center;
//     .container
//     {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // position: relative;
//       top: -35px;
//       .s
//       {
//         background-color: white;
//         width: 200px;
//         height: 35px;
//         border-radius: 30px;
//         display: flex;
        // justify-content: space-between;
        // align-items: center;
//         padding-left: 5px;
//         padding-right: 10px;
//         .log
//         {
//           background-color: #00ab59;
//           width: 90px;
//           height: 25px;
//           border-radius: 30px;
//           text-align: center;
//         }
//         .log a
//         {
//           color: white;
//           font-size: 15px;
//         }
//         .sign
//         {
//           width: 90px;
//           height: 25px;
//           border-radius: 30px;
//           text-align: center;
//         }
//         .sign a
//         {
//           color: black;
//           font-size: 15px;
//         }
//       }
//     }
//     .container1
//     {
//       position: relative;
//       top: 30px;
//       height: 160px;
//       width: 380px;
//       .email
//       {
//         height: 50px;
//         width: 380px;
//         background-color: white;
//         border-radius: 30px;
//         display: flex;
//         justify-content: start;
//         align-items: center;
//       }
//       .email a
//       {
//         font-size: 20px;
//         color: #b3b3b3;
//         position: relative;
//         left: 20px;

//       }
//       .password
//       {
//         display: flex;
//         justify-content: start;
//         align-items: center;
//         position: relative;
//         height: 50px;
//         width: 380px;
//         background-color: white;
//         border-radius: 30px;
//         top: 30px;
//       }
//       .password a
//       {
//         font-size: 20px;
//         color: #b3b3b3;
//         position: relative;
//         left: 20px;
//       }
//     }
//     .block-login{
//       background-color: white;
//       height: 30px;
//       width: 170px;
//       border-radius: 20px;
//       position: relative;
//       top: 30px;
//       display: flex;
//       justify-content: center;
//       align-items: center;

//       .login{
//         background-color: #00ab59;
//         height: 24px;
//         width: 164px;
//         border-radius: 20px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//       .login a{
//         color: white;
//         font-size: 15px;
//       }
//     }
    // .enter
    // {
    //   width: 485px;
    //   height: 50px;
    //   position: relative;
    //   top: 70px;
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   .fb
    //   {
    //     width: 140px;
    //     height: 50px;
    //     background-color: white;
    //     border-radius: 30px;
    //     .img
    //     {
    //       height: 40px;
    //       width: auto;
    //       position: relative;
    //       top: 5px;
    //     }
    //   }
    //   .apple
    //   {
    //     width: 140px;
    //     height: 50px;
    //     background-color: white;
    //     border-radius: 30px;
    //     .img
    //     {
    //       height: 40px;
    //       width: auto;
    //       position: relative;
    //       top: 5px;
    //     }
    //   }
    //   .google
    //   {
    //     width: 140px;
    //     height: 50px;
    //     background-color: white;
    //     border-radius: 30px;
    //     .img
    //     {
    //       height: 40px;
    //       width: auto;
    //       position: relative;
    //       top: 5px;
    //     }
    //   }
    // }
//     .forgot
//     {
//       position: relative;
//       top: 90px;
//     }
//     .forgot u
//     {
//       font-size: 15px;
//       color: white;
//     }

//   }
  // .block img
  // {
  //   position: relative;
  //   top: 40px;
  //   height: 80px;
  //   width: auto;
  // }
  // .block p
  // {
  //   color: white;
  //   font-size: 40px;
  //   margin-top: 60px;
  // }
// }



// .main
// {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   .block
//   {
//     margin-top: 30px;
//     width: 670px;
//     height: 645px;
//     background-color: #00ab59;
//     border-radius: 6%;
//     text-align: center;
//     display: flex;
//     flex-direction: column;
//     justify-content: start;
//     align-items: center;
//     h1{
//       color: white;
//     }
//     img{
//       margin-top: 40px;
//       height: 80px;
//       width: auto;
//     }
//     .container
//     {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       top: -35px;
//       .s
//       {
//         background-color: white;
//         width: 200px;
//         height: 35px;
//         border-radius: 30px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding-left: 5px;
//         padding-right: 10px;
//         .log
//         {
//           background-color: #00ab59;
//           width: 90px;
//           height: 25px;
//           border-radius: 30px;
//           text-align: center;
//         }
//         .log a
//         {
//           color: white;
//           font-size: 15px;
//         }
//         .sign
//         {
//           width: 90px;
//           height: 25px;
//           border-radius: 30px;
//           text-align: center;
//         }
//         .sign a
//         {
//           color: black;
//           font-size: 15px;
//         }
//       }
//     }
//     .container1
//     {
//       margin-top: 30px;
//       height: 160px;
//       width: 380px;
//       .email
//       {
//         height: 50px;
//         width: 380px;
//         background-color: white;
//         border-radius: 30px;
//         display: flex;
//         justify-content: start;
//         align-items: center;
//       }
//       .email a
//       {
//         font-size: 20px;
//         color: #b3b3b3;
//         left: 20px;

//       }
//       .password
//       {
//         display: flex;
//         justify-content: start;
//         align-items: center;
//         height: 50px;
//         width: 380px;
//         background-color: white;
//         border-radius: 30px;
//         margin-top: 30px;
//       }
//       .password a
//       {
//         font-size: 20px;
//         color: #b3b3b3;
//         left: 20px;
//       }
//     }
//     .block-login{
//       background-color: white;
//       height: 30px;
//       width: 170px;
//       border-radius: 20px;
//       margin-top: 10px;
//       display: flex;
//       justify-content: center;
//       align-items: center;

//       .login{
//         background-color: #00ab59;
//         height: 24px;
//         width: 164px;
//         border-radius: 20px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//       .login a{
//         color: white;
//         font-size: 15px;
//       }
//     }
//     .enter
//     {
//       width: 485px;
//       height: 50px;
//       margin-top: 40px;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       .fb
//       {
//         width: 140px;
//         height: 50px;
//         background-color: white;
//         border-radius: 30px;
//         .img
//         {
//           height: 40px;
//           width: auto;
//           margin-top: 5px;
//         }
//       }
//       .apple
//       {
//         width: 140px;
//         height: 50px;
//         background-color: white;
//         border-radius: 30px;
//         .img
//         {
//           height: 40px;
//           width: auto;
//           margin-top: 5px;
//         }
//       }
//       .google
//       {
//         width: 140px;
//         height: 50px;
//         background-color: white;
//         border-radius: 30px;
//         .img
//         {
//           height: 40px;
//           width: auto;
//           margin-top: 5px;
//         }
//       }
//     }
//     .forgot
//     {
//       margin-top: 50px;
//     }
//     .forgot u
//     {
//       font-size: 15px;
//       color: white;
//     }

//   }
//   // .block img
//   // {
//   //   position: relative;
//   //   top: 40px;
//   //   height: 80px;
//   //   width: auto;
//   // }
//   // .block h3
//   // {
//   //   color: white;
//   //   margin-top: 60px;
//   // }
// }