<div class="main-container">
  <nav class="navbar">
    <img class="logo" src="assets/logo.png">
    <div class="bar">
      <button routerLink="/home" class="nav-button"><img class="hm" src="assets/home.png"></button>
      <button class="nav-button"><img class="other" src="assets/time.png"></button>
      <button routerLink="/popular" class="nav-button"><img class="other"src="assets/star.png"></button>
      <button class="nav-button"><img class="other" src="assets/love.png"></button>
      <button routerLink="/support" class="nav-button"> <img class="sup" src="assets/support.png"></button>
    </div>
    <button routerLink="/login" class="nav-log"><img class="other" src="assets/log.png"></button>
  </nav>
  <div class="page-container">
    <div class="head-menu">
      <div class="menu">
        <div class="block">
          <input type="text" placeholder="Search" class="search">
          <button class="find"><img class="photo" src="assets/find.png"></button>
        </div>
        <div class="container">
          <div class="slide-controls">
            <input type="radio" name="slide" id="eng">
            <input type="radio" name="slide" id="ukr" checked>
            <label for="ukr" class="slide eng"><img style="width: 40px; height: auto" src="assets/english.png"></label>
            <label for="eng" class="slide ukr"><img style="width: 40px; height: auto" src="assets/ukranian.png"></label>
            <div class="slider-tab"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-top">
      <div class="user-info" [formGroup]="userForm">
        <div class="photo-name">
          <div class="photo">
            <img class="ava" src="../../../assets/avatar.png">
          </div>
          <div class="info">
            <div class="name">
              <input formControlName="name" [readonly]="!isEditMode" />
            </div>
            <div class="email">
              <input formControlName="email" [readonly]="!isEditMode" />
            </div>
            <div class="city">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
              </svg>Lviv
              <!--                   <input formControlName="city" [readonly]="!isEditMode" />-->
            </div>
          </div>
        </div>
        <button class="edit" (click)="toggleEditMode()">{{isEditMode ? 'Save' : 'Edit'}}</button>
      </div>
    </div>
    <div class="review">
      <div class="review-text">Review</div>
      <div class="block_row_restaurants">
        <img src="assets/yoki.png">
        <div class="information">
          <p class="headline_restaurant">YOKI Restaurant</p>
          <div class="info_line">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
            </svg>
            вулиця Академіка Гнатюка, 12а
          </div>
        </div>
        <button routerLink="/restaurant" class="check">Check</button>
      </div>
      <div class="block_row_restaurants">
        <img src="assets/yoki.png">
        <div class="information">
          <p class="headline_restaurant">YOKI Restaurant</p>
          <div class="info_line">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
            </svg>
            вулиця Академіка Гнатюка, 12а
          </div>
        </div>
        <button routerLink="/restaurant" class="check">Check</button>
      </div>
      <button class="check1">Check All</button>
    </div>
    <div class="history">
      <div class="history-text">History</div>
      <div class="block_row_restaurants">
        <img src="assets/yoki.png">
        <div class="information">
          <p class="headline_restaurant">YOKI Restaurant</p>
          <div class="info_line">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
            </svg>
            вулиця Академіка Гнатюка, 12а
          </div>
        </div>
        <button routerLink="/restaurant" class="check">Check</button>
      </div>
      <div class="block_row_restaurants">
        <img src="assets/yoki.png">
        <div class="information">
          <p class="headline_restaurant">YOKI Restaurant</p>
          <div class="info_line">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
            </svg>
            вулиця Академіка Гнатюка, 12а
          </div>
        </div>
        <button routerLink="/restaurant" class="check">Check</button>
      </div>
      <button class="check1">Check All</button>
    </div>
  </div>
</div>
