<div class="home">
  <nav class="navbar">
    <img routerLink="/home" class="logo" src="assets/logo.png">
    <div class="bar">
      <button routerLink="/home" class="nav-button"><img class="hm" src="assets/home.png"></button>
      <button class="nav-button"><img class="other" src="assets/time.png"></button>
      <button routerLink="/popular" class="nav-button"><img class="other"src="assets/star.png"></button>
      <button class="nav-button"><img class="other" src="assets/love.png"></button>
      <button class="nav-button"> <img class="sup" src="assets/support.png"></button>
    </div>
    <button routerLink="/login"  class="nav-log"><img class="other" src="assets/log.png"></button>
  </nav>
  <div class="menu">
    <div class="block">
      <input type="text" placeholder="Search" class="search">
      <button class="find"><img class="photo" src="assets/find.png"></button>
    </div>
    <div class="container">
      <span class="upgrade"><a>Upgrade</a></span>
      <button class="user"><img class="us" src="assets/user.png"></button>
    </div>
  </div>
  <div class="name">
    <div class="back">
      <img class="y" src="assets/yoki2.png">
      <div class="text-overlay">Yoki</div>
      <div class="line"></div>
      <div class="sushi">Sushi restaurant</div>
      <img class="l" src="assets/l.png">
    </div>
  </div>
  <div class="menu-r">
    <img class="mphoto" src="assets/p1.png">
    <img class="mphoto" src="assets/p2.png">
    <img class="mphoto" src="assets/p3.jpg">
  </div>
  <div class="info">
    <div class="inf"><a>Азія близько.
    На перетині кордонів зустрілися вони:схід та захід, традиції та технології, мифі та сучасність.
      Yoki - це мережа реторанів азійської кухні зі своєю історією та культурою.
    Заклади, що поєднали в собі: азійську кухню в різних техніках приготування, унікальну музику(резиденство DJ) та сервіс доставки.
    Yoki - це окремий світ, який приведе тебе від хаосу до порядку та розбудить у тобі справжнього самурая!</a></div>
    <div class="blocks">
      <div class="block1">
        <a>Теги</a>
        <h1>#sushi #fish #cocktails #music #hookan #center #with_friends #night_vibe</h1>
      </div>
      <div class="block2">
        <a>Рейтинг</a>
        <img class="star" src="assets/st.png">
      </div>
    </div>
  </div>
  <div class="dish">
    <a>Menu</a>
    <div class="line2"></div>
    <div class="dishs">
      <div class="bl">
      <img class="ph" src="assets/p1.png">
      <img class="ph" src="assets/p1.png">
      <img class="ph" src="assets/p1.png">
      </div>
      <div class="main">
      <div class="n">
        <a>Rizoto with pork</a>
        <h1>25.9$</h1>
      </div>
        <div class="n">
          <a>Rizoto with pork</a>
          <h1>25.9$</h1>
        </div>
        <div class="n">
          <a>Rizoto with pork</a>
          <h1>25.9$</h1>
        </div>
      </div>
    </div>
    <div class="check">
      <button class="ch"><a>Check</a></button>
      <button class="ch"><a>Check</a></button>
      <button class="ch"><a>Check</a></button>
    </div>
      <button class="more"><a>More</a></button>
  </div>
</div>
