.home {
  height: 100%;
  width: 100%;

  .navbar {
    position: fixed;
    height: 100%;
    width: 5rem;
    background-color: #016334;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    .bar {
      height: 17.5rem;
      width: 100%;
      position: relative;
      top: 1.875rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;

      .nav-button {
        height: 3.125rem;
        width: 3.125rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 3.125rem;

        .other {

          height: 1.875rem;
          width: auto;
        }
        .sup
        {
          height: 2.1875rem;
          width: auto;
        }
        .hm
        {
          width: 2.8125rem;
          height: auto;
        }
      }

    }
  }

  .logo {
    position: relative;
    top: 0.625rem;
    height: 3.125rem;
    width: auto;
  }

  .nav-log {
    position: absolute;
    bottom: 0.625rem;
    height: 1.875rem;
    width: 1.875rem;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

    .block {
      width:  21.875rem;
      height: 3.125rem;
      position: relative;
      left: 7.5rem;
      background-color: #016334;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: start;
      box-shadow:7px 5px 5px black;

      .search {
        position: relative;
        left: 0.625rem;
        height: 1.875rem;
        width: 18.125rem;
        padding: 0.438rem;
        border-radius: 40px;
      }

      .find {
        height: 1.875rem;
        position: relative;
        left: 0.938rem;
        width: 1.875rem;

        .photo {
          height: 1.875rem;
          width: auto;
        }
      }

    }

    .container {
      display: flex;
      width: 12.5rem;
      justify-content: space-between;
      align-items: center;
      position: relative;
      left: 8.125rem;
      padding: 5px;
      .user {
        height: 3.125rem;
        width: 3.125rem;
        background-color: #016334;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        box-shadow:7px 5px 5px black;
        align-items: center;

        .us {
          height: 2.8125rem;
          width: 2.8125rem;
        }
      }
    }
  }
  .name {
    height: 25rem;
    width: calc(100% - 5rem);
    margin-left: 5rem;

    .back {
      position: relative;
      .y {
        width: 100%;
        height: 25rem;
      }
      .information{
        position: absolute;
        top: 20%;
        left: 5%;
        .text-overlay {

          color: white;
          font-size: 5.625rem;
          text-shadow: black;
          font-family: Arial, sans-serif;
        }
        .line
        {
          width: 25rem;
          height: 0.3125rem;
          background-color: white;
        }
        .sushi
        {

          color: white;
          font-size: 2.5rem;
          text-shadow: black;
          font-family: Arial;
        }

      }

      .l {
        position: absolute;
        left: 70%;
        bottom: 35%;
      }
    }
  }
  .menu-r{
    display: flex;
    width: calc(100% - 5rem);
    margin-left: 5rem;
    height: 13.75rem;
    margin-top: 0.625rem;
    justify-content: space-between;
    align-items: center;
    .mphoto
    {
      margin-left: 3.125rem;
      margin-right: 3.125rem;
      border-radius: 20px;
      width: 21.875rem;
      height: 11.875rem;
    }
  }
  .info
  {
    height: 25rem;
    width: calc(100% - 5rem);
    margin-left: 5rem;
    position: relative;
    top: 1.875rem;
    display: flex;
    .inf
    {
      height: 20rem;
      position: relative;
      margin-left: 3.125rem;
      top: 0.625rem;
      padding: 10px 5px 5px 5px;
      justify-content: center;
    }
    .inf a
    {
      font-size: 1.563rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-family: "Roboto Thin";
    }
    .blocks
    {
      height: 24.375rem;
      width: 21.25rem;
      margin-left: 10rem;
      margin-right: 2.725rem;

      display: block;
      .block1
      {
        height: 15.625rem;
        width: 21.25rem;
        background-color: #016334;
        border-radius: 25px;
        text-align: center;
        padding-top: 1.25rem;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        justify-content: start;
      }
      .block1 a
      {
        font-size: 1.563rem;
        color: white;
        text-decoration: underline;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-family: "Roboto Thin";
      }
      .block1 h1
      {
        margin-top: 1.25rem;
        font-size: 1.563rem;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-family: "Roboto Thin";
        font-style: italic;
      }
      .block2
      {
        height: 6.25rem;
        width:21.25rem;
        background-color: #016334;
        border-radius: 25px;
        margin-top: 1.25rem;
        text-align: center;
        padding-top: 5px;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        justify-content: start;
        .star
        {
          height:3.75rem;
          width:17.5rem;
          margin-left: 1.563rem;

        }
      }
      .block2 a{
        font-size: 1.563rem;
        color: white;
        text-decoration: underline;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-family: "Roboto Thin";

      }
    }
  }
  .dish
  {
    height:35.625rem;
    width: calc(100% - 5rem);
    margin-left: 5rem;
    position: relative;
    top: 3.125rem;
    padding-left: 2.813rem;
    padding-top: 1.25rem;
    .line2
    {
      width: 100%;
      height: 5px;
      background-color: #016334;
      margin-top: 0.625rem;
    }
    .dishs {
      height: 20.625rem;
      padding-left: 3.125rem;
      padding-right: 3.125rem;

      .bl {
        position: relative;
        top:3.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ph {
          width: 18.75rem;
          height: 12.5rem;
        }
      }

      .name2 {
        display: flex;
        justify-content: space-between;
        padding-left: 5rem;

        .tx {
          position: relative;
          top: 8.125rem;
          right: 6.25rem;
        }
      }

      .main
      {
        display: flex;
        justify-content: space-between;
        .n {
          margin-top: 4.375rem;
          display: flex;
        }

        .n a {
          font-size: 1.25rem;
          margin-right: 5rem;
        }
        .n h1 {
          font-size: 1.25rem;
        }
      }
    }
    .check
    {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height:3.75rem;
      padding-left: 6.875rem;
      padding-right: 6.875rem;
      .ch
      {
        height: 2.5rem;
        width: 9.375rem;
        background-color: #016334;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        padding-right: 0.625rem;
      }
      .ch a
      {
        color: white;
        font-size: 1.25rem;
        font-style: normal;
      }
    }
    .but{
      display: flex;
      align-items: center;
      justify-content: center;
      .more
      {
        margin-top: 1.875rem;
        height: 3.125rem;
        width:21.25rem;
        background-color: #016334;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
      }
      .more a
      {
        color: white;
        font-size: 1.563rem;
      }
    }
  }
  .dish a
  {
    margin-left: 0.625rem;
    font-size: 1.875rem;
    color: black;
  }
  .location
  {
    height: 40.625rem;
    width: calc(100% - 5rem);
    margin-left: 5rem;
    position: relative;
    top: 3.125rem;
    padding-left: 2.813rem;
    padding-top: 1.25rem;
    .line2{
      width: 100%;
      height: 0.313rem;
      background-color: #016334;
      margin-top: 0.625rem;
    }
    a{
      margin-left: 0.625rem;
      font-size: 1.875rem;
      color: black;
    }
    .map{
      height: 31.25rem;
      width: calc(100% - 7.5rem);
      padding: 30px 50px 20px 50px;
      .skrin{
        width: 100%;
        height: 100%;
      }
    }
    .info_line{
      display: flex;
      color: #016334;
      font-size: 1rem;
      margin-left: 1.25rem;
      padding: 15px 5px;
      justify-content: space-between;
      svg{
        width: 1.875rem;
        height: 1.875rem;
        color: #016334;
      }
      .check{
        position: relative;
        margin-right: 6.25rem;
        width: 7.5rem;
        height: 2.5rem;
        background-color: #016334;
        color: #fff;;
        font-size: 1.25rem;
        font-weight: 700;
        border-radius: 20px;
      }
    }

  }
  .contacts
  {
    height: 15.625rem;
    width: calc(100% - 5rem);
    margin-left: 5rem;
    position: relative;
    top: 3.125rem;
    padding-left: 2.813rem;
    padding-top: 1.25rem;
    hr
    {
      width: 100%;
      height: 0.313rem;
      background-color: #016334;
      margin-top: 0.625rem;
    }
    a{
      margin-left: 0.625rem;
      font-size: 1.875rem;
      color: black;
    }
    .contact{
      display: flex;
      justify-content: space-between;
      height: 12.5rem;
      font-size: 1.563rem;
      width: calc(100% - 5rem);
      padding: 30px 50px 20px 50px;
      .soc-data{
        .media{
          display: flex;
          margin-top: 1.875rem;
          width: 12.5rem;
          height: 5rem;
          .image{
            width: 3.125rem;
            height: 3.125rem;
          }
        }
      }
    }
  }
  .reviews
  {
    height: 43.75rem;
    width: calc(100% - 5rem);
    margin-left: 5rem;
    position: relative;
    top: 3.125rem;
    padding-left: 2.813rem;
    padding-top: 1.25rem;
    .line2{
      width: 100%;
      height: 0.313rem;
      background-color: #016334;
      margin-top: 0.625rem;
    }
    a{
      margin-left: 0.625rem;
      font-size: 1.875rem;
      color: black;
    }
    .row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: auto;
      padding: 1.875rem 1.875rem 1.25rem 1.875rem;
      .col-4{
        width: 31.25rem;
        height: 37.5rem;
        .rating {
          display: flex;
          justify-content: center;
          align-items: center;
          grid-gap: .5rem;
          color: #FFBD13;
          margin-bottom: 2rem;
          span{
            font-size: 3.125rem;
          }
          .mat-icon{
            height: 3.125rem;
            width: 3.125rem;
            font-size: 3.125rem;
          }
        }
        .rating .star {
          cursor: pointer;
        }
        .rating .star.active {
          opacity: 0;
          animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
        }

        @keyframes animate {
          0% {
            opacity: 0;
            transform: scale(1);
          }
          50% {
            opacity: 1;
            transform: scale(1.2);
          }
          100% {
            opacity: 1;
            transform: scale(1);
          }
        }


        .rating .star:hover {
          transform: scale(1.1);
        }
        textarea {
          width: 100%;
          background: #F5F5F5;
          padding: 1rem;
          border-radius: .5rem;
          border: 2px solid black;
          outline: none;
          resize: none;
          margin-bottom: .5rem;
        }
        .btn-group {
          display: flex;
          grid-gap: .5rem;
          align-items: center;
        }
        .btn-group .btn {
          padding: .75rem 1rem;
          border-radius: .5rem;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: .875rem;
          font-weight: 500;
        }
        .btn-group .btn.submit {
          background: #016334;
          color: #fff;
        }
        .btn-group .btn.submit:hover {
          background: #016334;
        }
        .btn-group .btn.cancel {
          background: #fff;
          color: #016334;
        }
        .btn-group .btn.cancel:hover {
          background: #F5F5F5;
        }
        .rate_reviews{
          margin-top: 1.25rem;
          .review{
            margin-top: 0.625rem;
            display: flex;
            justify-content: space-between;
            .stars{
              display: flex;
              grid-gap: 1rem;
              font-size: 2rem;
              color: #FFBD13;
              margin-bottom: 0.313rem;
            }
            a{
              font-size: 1.25rem;
              text-decoration: underline;
            }
          }
          .points{
            display: flex;
            justify-content: space-between;
            font-size: 0.938rem;
            .text{
              margin: 0.188rem;
            }
            .statistics{
              display: flex;

              .numbers{
                p{margin: 0.188rem;}
              }
              .line-bar{
                width: 7.5rem;
                height: 0.5rem;
                border-radius: 2px;
                background:#d9dee4 ;
                .line{
                  height: 0.5rem;
                  border-radius: 7px;
                  background:#FFBD13 ;
                  position: relative;
                }
                .line::before{
                  content: attr(per);
                  position: absolute;
                  padding: 4px 4px;
                  font-size: 0.75rem;
                  top: -30px;
                  right: 0;
                  transform: translateX(50%);
                  color:#ffb35e;
                }
                .line::after{
                  content: "";
                  position: absolute;
                  width: 0.438rem;
                  height: 0.438rem;
                  background:#ffb35e;

                  border-radius: 2px;
                }
              }
            }
          }
        }
      }
      .col-8{
        display: block;
        width: 46.875rem;
        height: auto;
        .review_example{
          padding: 1.25rem;
          width: 43.75rem;
          height: 18.75rem;
          margin: 0.625rem;
          background-color: #016334;
          border-radius: 30px;
          color: #fff;
          .user_comment{
            display: flex;
            justify-content: space-between;
            img{
              margin-left: 1.25rem;
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
            }
            .stars {
              display: flex;
              justify-content: right;
              grid-gap: .5rem;
              font-size: 2rem;
              color: #FFBD13;
              margin-bottom: 0.313rem;
            }
          }
          hr{
            height: 0.188rem;
            width: 37.5rem;
            background-color: #fff;
            margin-bottom: 1.25rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width:100px) {
  .home{
    display: grid;
  }

}
