<div class="home">
  <nav class="navbar">
    <img class="logo" src="assets/logo.png">
    <div class="bar">
      <button class="nav-button"> <img class="other" src="assets/menu.png"></button>
      <button class="nav-button"><img class="other" src="assets/time.png"></button>
      <button class="nav-button"><img class="other"src="assets/star.png"></button>
      <button class="nav-button"><img class="other" src="assets/love.png"></button>
    </div>
    <button class="nav-log"><img class="other" src="assets/log.png"></button>
  </nav>
  <div class="menu">
    <div class="block">
      <input type="text" placeholder="Search" class="search">
      <button class="find"><img class="photo" src="assets/find.png"></button>
    </div>
    <div class="container">
      <span class="upgrade"><a>Upgrade</a></span>
      <button class="user"><img class="us" src="assets/user.png"></button>
    </div>
  </div>
  <div class="form-controls">
    <div class="slide-controls">
      <input type="radio" name="slide" id="map" checked>
      <input type="radio" name="slide" id="list">
      <label for="list" class="slide map">Map</label>
      <label for="map" class="slide list">List</label>
      <div class="slider-tab"></div>
    </div>
  </div>
</div>
