<div class="home">
  <nav class="navbar">
    <img class="logo" src="assets/logo.png">
    <div class="bar">
      <button class="nav-button"><img class="other" src="assets/time.png"></button>
      <button routerLink="/popular" class="nav-button"><img class="other"src="assets/star.png"></button>
      <button class="nav-button"><img class="other" src="assets/love.png"></button>
      <button class="nav-button"> <img class="sup" src="assets/support.png"></button>
    </div>
    <button routerLink="/login" class="nav-log"><img class="other" src="assets/log.png"></button>
  </nav>
  <div class="menu">
    <div class="block">
      <input type="text" placeholder="Search" class="search">
      <button class="find"><img class="photo" src="assets/find.png"></button>
    </div>
    <div class="container">
      <div class="lang">
<!--        <input type="radio" name="slide" id="uk"checked>-->
<!--        <input type="radio" name="slide" id="flag">-->
<!--        <label for="uk" class="slide map">Map</label>-->
<!--        <label for="flag" class="slide list">List</label>-->
<!--        <div class="slider-tab"></div>-->
<!--&lt;!&ndash;      <input type="radio" name="slide" id="uk" checked>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="radio" name="slide" id="flag">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="uk" class="slide map"><img class="f1" src="assets/uk.png"></label>&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="flag" class="slide list"><img class="f2" src="assets/flag.png"></label>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="slider-tab"></div>&ndash;&gt;-->
      </div>
      <button class="user"><img class="us" src="assets/user.png"></button>
    </div>
  </div>
  <div class="form-controls">
    <div class="slide-controls">
      <input routerLink="/list"  type="radio" name="slide" id="map">
      <input type="radio" name="slide" id="list" checked>
      <label for="list" class="slide map">Map</label>
      <label for="map" class="slide list">List</label>
      <div class="slider-tab"></div>
    </div>
  </div>
</div>
