<div class="home">
  <nav class="navbar">
    <img class="logo" src="assets/logo.png">
    <div class="bar">
    <button class="nav-button"> <img class="other" src="assets/menu.png"></button>
      <button class="nav-button"><img class="other" src="assets/time.png"></button>
      <button class="nav-button"><img class="other"src="assets/star.png"></button>
      <button class="nav-button"><img class="other" src="assets/love.png"></button>
    </div>
    <button class="nav-log"><img class="other" src="assets/log.png"></button>
  </nav>
  <div class="menu">

  </div>
</div>
