<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="home">
  <nav class="navbar">
    <img class="logo" src="assets/logo.png">
    <div class="bar">
      <button class="nav-button"><img class="other" src="assets/time.png"></button>
      <button routerLink="/popular" class="nav-button"><img class="other"src="assets/star.png"></button>
      <button class="nav-button"><img class="other" src="assets/love.png"></button>
      <button routerLink="/support" class="nav-button"> <img class="sup" src="assets/support.png"></button>
    </div>
    <button routerLink="/login" class="nav-log"><img class="other" src="assets/log.png"></button>
  </nav>
  <div class="content_page">
    <div class="head_menu">
      <div class="menu">
        <div class="block">
          <input type="text" placeholder="Search" class="search">
          <button class="find"><img class="photo" src="assets/find.png"></button>
        </div>
        <div class="container">
          <button routerLink="/user" class="user"><img class="us" src="assets/user.png"></button>
        </div>
      </div>
      <div class="slide-controls">
        <input type="radio" name="slide" id="map" checked>
        <input routerLink="/home" type="radio" name="slide" id="list">
        <label for="list" class="slide map">Map</label>
        <label for="map" class="slide list">List</label>
        <div class="slider-tab"></div>
      </div>
    </div>
    <div class="establishment">
      <div class="row d-flex">
        <div class="col-8">
          <div class="row">
            <div class="restaurants_title">
              <span>
                Restaurants
              </span>
              <a href="https://tomato.ua/blog/category/kiev" target="_blank">
                See all
              </a>
            </div>
          </div>
          <div *ngFor="let restaurant of restaurants" class="block_row_restaurants">
            <img src="{{restaurant.img}}">
            <div class="information">
              <p class="headline_restaurant">{{restaurant.name}}</p>
              <div class="info_line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                {{restaurant.address}}
              </div>
            </div>
            <button routerLink="/restaurant" class="check">Check</button>
          </div>
<!--          <div class="block_row_restaurants">-->
<!--            <img src="assets/yoki.png">-->
<!--            <div class="information">-->
<!--              <p class="headline_restaurant">YOKI Restaurant</p>-->
<!--              <div class="info_line">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">-->
<!--                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>-->
<!--                </svg>-->
<!--                вулиця Академіка Гнатюка, 12а-->
<!--              </div>-->
<!--            </div>-->
<!--            <button routerLink="/restaurant" class="check">Check</button>-->
<!--          </div>-->
<!--          <div class="block_row_restaurants">-->
<!--            <img src="assets/yoki.png">-->
<!--            <div class="information">-->
<!--              <p class="headline_restaurant">YOKI Restaurant</p>-->
<!--              <div class="info_line">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">-->
<!--                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>-->
<!--                </svg>-->
<!--                вулиця Академіка Гнатюка, 12а-->
<!--              </div>-->
<!--            </div>-->
<!--            <button routerLink="/restaurant" class="check">Check</button>-->
<!--          </div>-->
<!--          <div class="block_row_restaurants">-->
<!--            <img src="assets/yoki.png">-->
<!--            <div class="information">-->
<!--              <p class="headline_restaurant">YOKI Restaurant</p>-->
<!--              <div class="info_line">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">-->
<!--                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>-->
<!--                </svg>-->
<!--                вулиця Академіка Гнатюка, 12а-->
<!--              </div>-->
<!--            </div>-->
<!--            <button routerLink="/restaurant" class="check">Check</button>-->
<!--          </div>-->

          <div class="row">
            <div class="restaurants_title">
              <span>
                Cafe
              </span>
              <a href="https://tomato.ua/blog/category/kiev" target="_blank">
                See all
              </a>
            </div>
          </div>
          <div class="block_row_restaurants">
            <img src="assets/yoki.png">
            <div class="information">
              <p class="headline_restaurant">YOKI Restaurant</p>
              <div class="info_line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                вулиця Академіка Гнатюка, 12а
              </div>
            </div>
            <button routerLink="/restaurant" class="check">Check</button>
          </div>
          <div class="block_row_restaurants">
            <img src="assets/yoki.png">
            <div class="information">
              <p class="headline_restaurant">YOKI Restaurant</p>
              <div class="info_line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                вулиця Академіка Гнатюка, 12а
              </div>
            </div>
            <button routerLink="/restaurant" class="check">Check</button>
          </div>
          <div class="block_row_restaurants">
            <img src="assets/yoki.png">
            <div class="information">
              <p class="headline_restaurant">YOKI Restaurant</p>
              <div class="info_line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                вулиця Академіка Гнатюка, 12а
              </div>
            </div>
            <button routerLink="/restaurant" class="check">Check</button>
          </div>
          <div class="block_row_restaurants">
            <img src="assets/yoki.png">
            <div class="information">
              <p class="headline_restaurant">YOKI Restaurant</p>
              <div class="info_line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                вулиця Академіка Гнатюка, 12а
              </div>
            </div>
            <button routerLink="/restaurant" class="check">Check</button>
          </div>
        </div>

        <div class="col-4">
          <span class="filters">Filters</span>
          <div class="sort">Sort by
            <div class="sort-contain">
              <button class="dist">By distance</button>
              <button class="dist">By price</button>
              <button class="dist">By rating</button>
            </div>
          </div>
          <div class="people">Price/people
            <div class="people-contain">
              <button class="field"></button>
              <span class="t">/</span>
              <button class="field"></button>
              <div class="number">
                <a>0</a><h1>2k</h1>
              </div>
            </div>
            <mat-slider class="slider" min="0" max="2000" step="100" showTickMarks discrete [displayWith]="formatLabel">
              <input matSliderThumb>
            </mat-slider>
          </div>
          <div class="rating">Rating
            <div class="star-container">
              <button mat-icon-button *ngFor="let ratingId of ratingArr; index as i"
                      [color]="i < currentRating ? 'primary' : 'accent' "[id]="'star_'+i"
                      (click)="onClick(i+1)"
                      [matTooltip]="(ratingId+1).toString()"
                      matTooltipPosition="above">
                <mat-icon>{{showIcon(i)}}</mat-icon>
              </button>
              <mat-error *ngIf="ratingArr.length == 0">
                Star count is <strong>required</strong> and cannot be zero
              </mat-error>
            </div>
          </div>
          <div class="d">Distance
            <div class="d-contain">
              <input type="checkbox" id="check" (click)="moveCheckbox('check')" [checked]="selectedCheckbox === 'check'">
              <label for="check" class="check-t"><1 km</label>
              <input type="checkbox" id="check1" (click)="moveCheckbox('check1')" [checked]="selectedCheckbox === 'check1'">
              <label for="check1" class="check-t">1-3 km</label>
              <input type="checkbox" id="check2" (click)="moveCheckbox('check2')" [checked]="selectedCheckbox === 'check2'">
              <label for="check2" class="check-t">>3 km</label>
            </div>
          </div>
          <div class="reservation">Seat reservation
            <div class="r-contain">
              <input type="checkbox" id="check3" (click)="moveReservationCheckbox('check3')" [checked]="selectedReservationCheckbox === 'check3'">
              <label for="check3" class="check-r">Yes</label>
              <input type="checkbox" id="check4" (click)="moveReservationCheckbox('check4')" [checked]="selectedReservationCheckbox === 'check4'">
              <label for="check4" class="check-r">No</label>
            </div>
          </div>
          <div class="cuisine">Cuisine
            <div class="field1"><img class="tf" src="assets/find.png"></div>
          </div>
          <div class="type">Type of institution
            <div class="field2">
              <img class="tf" src="assets/find.png">
            </div>
          </div>
          <div class="sort2">
            <button class="apply"><a>Apply</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
