<div class="home">
  <nav class="navbar">
    <img class="logo" src="assets/logo.png">
    <div class="bar">
      <button class="nav-button"><img class="other" src="assets/time.png"></button>
      <button routerLink="/popular" class="nav-button"><img class="other"src="assets/star.png"></button>
      <button class="nav-button"><img class="other" src="assets/love.png"></button>
      <button class="nav-button"> <img class="sup" src="assets/support.png"></button>
    </div>
    <button routerLink="/login"  class="nav-log"><img class="other" src="assets/log.png"></button>
  </nav>
  <div class="content_page">
    <div class="head_menu">
      <div class="menu">
        <div class="block">
          <input type="text" placeholder="Search" class="search">
          <button class="find"><img class="photo" src="assets/find.png"></button>
        </div>
        <div class="container">
          <span class="upgrade"><a>Upgrade</a></span>
          <button class="user"><img class="us" src="assets/user.png"></button>
        </div>
      </div>

      <div class="slide-controls">
        <input type="radio" name="slide" id="map" checked>
        <input routerLink="/home" type="radio" name="slide" id="list">
        <label for="list" class="slide map">Map</label>
        <label for="map" class="slide list">List</label>
        <div class="slider-tab"></div>
      </div>
    </div>
    <div class="establishment">
      <div class="row d-flex">
        <div class="col-8">
          <div class="row">
            <div class="restaurants_title">
              <span>
                Restaurants
              </span>
              <a href="https://tomato.ua/blog/category/kiev" target="_blank">
                See all
              </a>
            </div>
          </div>
          <div class="block_row_restaurants">
            <img src="assets/yoki.png">
            <div class="information">
              <p class="headline_restaurant">YOKI Restaurant</p>
              <div class="info_line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                вулиця Академіка Гнатюка, 12а
              </div>
            </div>
            <button routerLink="/restaurant" class="check">Check</button>
          </div>
          <div class="block_row_restaurants">
            <img src="assets/yoki.png">
            <div class="information">
              <p class="headline_restaurant">YOKI Restaurant</p>
              <div class="info_line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                вулиця Академіка Гнатюка, 12а
              </div>
            </div>
            <button routerLink="/restaurant" class="check">Check</button>
          </div>
          <div class="block_row_restaurants">
            <img src="assets/yoki.png">
            <div class="information">
              <p class="headline_restaurant">YOKI Restaurant</p>
              <div class="info_line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                вулиця Академіка Гнатюка, 12а
              </div>
            </div>
            <button routerLink="/restaurant" class="check">Check</button>
          </div>
          <div class="block_row_restaurants">
            <img src="assets/yoki.png">
            <div class="information">
              <p class="headline_restaurant">YOKI Restaurant</p>
              <div class="info_line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                вулиця Академіка Гнатюка, 12а
              </div>
            </div>
            <button routerLink="/restaurant" class="check">Check</button>
          </div>

          <div class="row">
            <div class="restaurants_title">
              <span>
                Cafe
              </span>
              <a href="https://tomato.ua/blog/category/kiev" target="_blank">
                See all
              </a>
            </div>
          </div>
          <div class="block_row_restaurants">
            <img src="assets/yoki.png">
            <div class="information">
              <p class="headline_restaurant">YOKI Restaurant</p>
              <div class="info_line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                вулиця Академіка Гнатюка, 12а
              </div>
            </div>
            <button routerLink="/restaurant" class="check">Check</button>
          </div>
          <div class="block_row_restaurants">
            <img src="assets/yoki.png">
            <div class="information">
              <p class="headline_restaurant">YOKI Restaurant</p>
              <div class="info_line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                вулиця Академіка Гнатюка, 12а
              </div>
            </div>
            <button routerLink="/restaurant" class="check">Check</button>
          </div>
          <div class="block_row_restaurants">
            <img src="assets/yoki.png">
            <div class="information">
              <p class="headline_restaurant">YOKI Restaurant</p>
              <div class="info_line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                вулиця Академіка Гнатюка, 12а
              </div>
            </div>
            <button routerLink="/restaurant" class="check">Check</button>
          </div>
          <div class="block_row_restaurants">
            <img src="assets/yoki.png">
            <div class="information">
              <p class="headline_restaurant">YOKI Restaurant</p>
              <div class="info_line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                вулиця Академіка Гнатюка, 12а
              </div>
            </div>
            <button routerLink="/restaurant" class="check">Check</button>
          </div>
        </div>

        <div class="col-4">Filters</div>
      </div>
    </div>
  </div>
</div>
